body{
    margin: 0;
}

/* Header.js */
header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  height: 70px;
}

header h2 {
  color: white;
  font-family: 'Henny Penny', cursive;
font-family: 'Lobster', cursive;
font-family: 'Noto Sans JP', sans-serif;
font-size: 2.5em;
}

/* Search.js */
.search-container {
  height: 200px;
  margin-top: 10px;
  text-align: center;
}

.primary-search{
    margin: 15px;
}

input[type="text"] {
  width: 40%;
  padding: 0 10px;
  margin-right: 5px;
}

input::placeholder{
    color: rgba(0, 0, 255, .3);
}

input[type="submit"] {
  padding: 1px 10px;
  background-color: white;
  border: solid 1px black;
}

input[type="submit"]:hover{
    cursor: pointer;
    background-color: black;
    color: white;
}

input[type="submit"]:disabled{
    border: solid 1px rgba(0, 0, 0, .3);
}

input[type="number"] {
    width: 100px;
    padding: 0;
}

.accordion{
    margin: 0 auto;
    width: 350px;
    height: 130px;
}

.accordion-item{
    border: none;
    border-bottom: 1px solid rgb(78, 74, 74);
}

.accordion-button{
    padding: 5px;
}

.accordion-button:focus{
    box-shadow: none;
}

.accordion-button::after{
    /* margin-left: 10px; */
}

select{
    height: 25px;
    margin-right: 5px;
}

.message {
  font-size: 17px;
}

/* App.js */
.proceeding-message{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.result{
    margin: 20px;
    width: 100%;
}

.result p{
    display: inline-block;
    margin-right: 10px;
}

.items-amount{
    width: 100%;
    margin-top: 20px;
}

.movies{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* justify-content: center; */
}

.movies-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.single-movie-container{
    text-align: center;
    margin: 0 10px;
    width: 250px;
}

.single-movie-container img{
    width: 250px;
    height: 370px;
}

.title-block{
    width: 250px;
    display: table;
}

.movie-title{
    height: 90px;
    line-height: 20px;
    display: table-cell;
    vertical-align: middle;
    font-family: 'Lobster', cursive;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 22px;
}

.year{
    font-size: 20px;
    margin-top: 5px;
}

@media screen and (max-width:576px){
    .single-movie-container{
        width: 150px;
    }
    
    .single-movie-container img{
        width: 150px;
        height: 230px;
    }
    
    .title-block{
        width: 150px;
    }
    
    .movie-title{
        height: 50px;
        line-height: 15px;
        font-size: 15px;
    }

    .year{
        font-size: 12px;
    }
}